.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header.banner {
  position: absolute;
  z-index: 123;
  @media screen and (max-width:768px) {
    // position: relative;
  }

  img {
    width: 245px;
    height: 100px;
    margin-top: 48px;
    margin-left: 48px;
    @media screen and (max-width:768px) {
      width: 98px;
      height: 40px;
      margin-left: 12px;
      margin-top: 24px;
    }
  }
}
