footer.footer {
    background-color: $footer-background;
    background-image: url('../images/footer-background-web.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .ds-footer-top-image {
        img {
            width: 100%;
        }        
    }
    div.ds-footer-inner {
        padding: 40px 0;
        .brand img {
            max-width: 390px;
        }
        .ds-footer-left,
        .ds-footer-right,
        .ds-footer-widget-1,
        .ds-footer-widget-2 {
            width: 49%;
            display: inline-block;
        }
        .ds-footer-left {
            width: 40% !important;
            margin-right: 10%;
            a.brand {
                display: block;
            }
            button.cta {
                border: 3px solid white;
                background: transparent;
                font-family: 'PT Sans', sans-serif;
                font-weight: 600;
                font-style: italic;
                color: white;
                text-transform: uppercase;
                font-size: 1.6em;
                padding: 8px 16px;
                margin-top: 30px;
                margin-bottom: 40px;
                display: block;
            }
            a i:before {
                color: white;
                font-size: 2em;
                margin-right: 1em;
                display: inline-block;
            }
        }
        #footer-right {
            font-family: 'PT Sans', sans-serif;
            font-weight: 600;
            font-style: italic;
            font-size: 1.6em;
            color: white;
            ul {
                margin-top: 0;
            }
            h3.widget-title {
                font-size: 48px;
                margin-top: 0;
                margin-bottom: 40px !important;
                position: relative;
                font-style: normal;
                font-family: $chromaletterfill;
                line-height: 45px;
                text-transform: uppercase;
                letter-spacing: 6px;
            }
            h3.widget-title:after {
                content: " ";
                width: 75px;
                position: absolute;
                left: 0;
                margin-top: 60px;
                border-bottom: 3px solid white;
            }
            .ds-footer-widget-1 {
                li.menu-item {
                    margin-bottom: 5px;
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: white;
                        letter-spacing: 1px; 
                    }
                }
            }
            .ds-footer-widget-2 {
                li {
                    margin-bottom: 5px !important;
                }
                .ds-days {
                    text-transform: uppercase;
                }
            }
        }

    }

}