header.banner {
    position: absolute;
    z-index: 13;
    top: 0;
    width: 100%;
    .wrap {
        display: block;
        margin: 0 auto;
        overflow: hidden;
        width: 100%;
        max-width: 1300px;
        // margin-left: 30px;
        // margin-right: 30px;
        @media screen and (max-width: 1360px) {
            width: 90%;

        }
        // @media screen and (max-width: 992px) and (orientation: landscape){
        //     max-width: 542px;
        // }
        @media screen and (max-width: 375px) {

        }
        a i:before {
            color: white;
            font-size: 2em;
            margin-right: 1em;
            display: inline-block;
            @media screen and (max-width: 375px) {
                font-size: 1.5em;
                margin-right: .5em;
            }
        }
    }
    a.brand {
        max-width: 245px;
        float: left;
        img {
            max-width: 245px;
            margin-top: 50px;
            @media screen and (max-width: 992px) {
                max-width: 190px;
                margin-top: 30px;
            }
            @media screen and (max-width: 375px) {
                max-width: 100px;
            }
            // @media screen and (max-width: 992px) and (orientation: landscape){
            //     max-width: 100px;
            // }
        }
    }
    .header-right {
        width: 200px;
        float: right;
        margin-top: 50px;
        @media screen and (max-width: 992px) {
            margin-top: 30px;
        }
        @media screen and (max-width: 375px) {
            width: 100px;
        }
    }    
    
}