body,
html {
  width: 100%;
  overflow-x: hidden;
  background-color: $gray;
}

section#hero {
  width: 100%;
  position: relative;
  background-size: cover;
  height: 100%;
  background-position: center center;

  &::after {
    content: "";
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.6);
  }

  .container {
    z-index: 123;
    position: relative;

    .row {
      .col-md-12 {
        img {
          width: 100%;
          max-width: 800px;
          display: block;
          margin: 120px auto;
          @media screen and (max-width:640px) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .wave-menu {
    img.hero-wave {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 123;
      width: 100%;
      height: 202px;
      margin-bottom: -100px;
      @media screen and (max-width:640px) {
        height: 100px;
        margin-bottom: -5px;
      }
    }

    .menu-home-nav-container {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      z-index: 123;
      list-style: none;
      max-width: 650px;
      margin: 80px auto 0;
      @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        max-width: 300px;
        margin-bottom: 0;
        transform: translateY(30px);
      }
      @media screen and (max-width: 375px) {
        max-width: 245px;
        justify-content: space-evenly;
      }

      li {
        a {
          text-transform: uppercase;
          color: $black;
          font-family: 'PT Sans', sans-serif;
          font-size: 25px;
          text-decoration: none;
          font-weight: 600;
          font-style: italic;
          @media screen and (max-width: 375px) {
            font-size: 18px;
          } 
        //   font: {
        //     family: $karla;
        //     size: 25px;
        //   }
        }
        @media screen and (max-width:640px) {
          margin-top: 12px;
        }
      }
    }
  }
}

section#about {
  position: relative;
  z-index: 1234;
  background-color: $gray;
  margin: 100px 0 -80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width:640px) {
    margin-top: 100px;
    background-image: none !important;
  }

//   .container {
//     @media screen and (max-width:768px) {
//       width: 100%;
//       max-width: 100%;
//     }

    .row {
        &.top-row {
            z-index: 12;
            position: relative;
            .wrap {
                padding: 60px 0;
            }
        }

        &.bottom-row {
            // margin-top: 100px;
            @media screen and (max-width:640px) {
                flex-direction: column-reverse;
                
            }
        }
        img.top-left {
            position: relative;
            border: 5px solid black;
            border-left: none;
            width: 100%;
            @media screen and (max-width: 768px) {
                margin-left: -40px;
            }
        }
        .col-md-6.right-justify {
            margin-left: auto;
            overflow: hidden;
            // padding: 0 8%;
            padding: 0 18% 0 5%;
            @media screen and (max-width: 1800px) {
                padding: 0 10% 0 3%;
            }
            @media screen and (max-width: 1300px) {
                padding: 0 6% 0 2%;
            }
            @media screen and (max-width: 1200px) {
                padding: 0 30px 0 15px;
            }
            // @media screen and (max-width: 960px) {
            //     padding: 0 2%;
            // }
            @media screen and (max-width: 768px) {
                padding: 0 18%;
                margin-bottom: 200px;
                margin-top: -100px;
            }
            @media screen and (max-width: 375px) {
                margin-bottom: 100px;
            }
            article {
                line-height: 30px;
                color: black;
                // padding-right: 30px;
                font-weight: 400;
            }
            button.cta {
                border: 3px solid black;
                background: transparent;
                font-family: 'PT Sans', sans-serif;
                font-weight: 600;
                font-style: italic;
                color: black;
                text-transform: uppercase;
                font-size: 1.6em;
                padding: 4px 35px;
                margin-top: 40px;
                margin-bottom: 40px;
                display: block;
                box-shadow: 12px 12px #EB166F;
            }
        }
        .bottom-row {
            height: 400px;
            margin-top: 200px;
        }
           
      .col-md-6 {
        h2 {
            font-family: $chromaletterfill;
            color: black;
            font-size: 80px;
            line-height: 70px;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 5px;
            @media screen and (max-width: 768px) {
                margin-top: 0;
            }
        }
        svg {
            display: block;
            margin-top: -10px;
            @media screen and (max-width: 768px) {
                margin-top: -80px;
                margin-left: -10px;
            }
            @media screen and (max-width: 375px) {
                margin-top: -100px;
                margin-left: -70px;
            }
        }
        .bottom-left {
            width: 50%;
        }
      

        // .top-right-text {
        //   margin-left: -20px;
        //   transform: translateY(-50px);
        //   background-size: contain;
        //   background-position: center;
        //   background-repeat: repeat;
        //   padding: 100px;
        //   min-height: 400px;
        //   z-index: 1234;
        //   @media screen and (max-width:768px) {
        //     margin-left: -50px;
        //     padding: 30px 60px;
        //     transform: translateY(0px);
        //   }
        //   @media screen and (max-width: 640px) {
        //     min-height: 330px;
        //     margin-left: 0;
        //     padding: 30px 60px;
        //     transform: translateY(0px);
        //     font-size: 12px;
        //   }
        // }

        // img.top-left {
        //   width: 100%;
        //   max-width: 585px;
        //   height: 670px;
        //   object-fit: cover;
        //   margin-right: -50px;
        //   transform: translateX(50px);
        //   margin-bottom: -125px;
        //   z-index: 123;
        //   @media screen and (max-width:768px) {
        //     height: 470px;
        //     transform: translateX(25px);
        //     margin-bottom: -64px;
        //   }
        //   @media screen and (max-width:640px) {
        //     margin-right: 0;
        //     margin-left: -20px;
        //     transform: none;
        //   }
        // }

        // img.bottom-right {
        //   width: 100%;
        //   max-width: 100%;
        //   height: 624px;
        //   object-fit: cover;
        //   transform: translateX(-100px);
        //   margin-top: -125px;
        //   z-index: 1;
        //   @media screen and (max-width:768px) {
        //     transform: translateX(-25px);
        //     height: 375px;
        //     margin-top: -40px;
        //   }
        //   @media screen and (max-width: 640px) {
        //     transform: translateX(20px);
        //     height: 364px;
        //     margin-top: -24px;
        //   }
        // }

        // .bottom-left-text {
        //   margin-left: -20px;
        //   transform: translateY(50px);
        //   background-size: contain;
        //   background-position: center;
        //   background-repeat: repeat;
        //   padding: 100px;
        //   min-height: 400px;
        //   z-index: 1234;
        //   @media screen and (max-width:768px) {
        //     transform: translateY(30px) translateX(40px);
        //     padding: 30px 60px;
        //   }
        //   @media screen and (max-width: 640px) {
        //     min-height: 300px;
        //     position: relative;
        //     padding: 30px 60px;
        //     transform: translateY(-76px) translateX(-6px);
        //     padding: 30px 60px;
        //     z-index: 1234;
        //     font-size: 12px;
        //   }
        // }
      }
    }
//   }
}

section#menu {
  background-size: cover;
  position: relative;
  overflow: visible;
  z-index: 12345;
  padding: 60px 0 0 0;
//   margin-top: 60px;
  color: black;

  img.top-left {
    position: absolute;
    top: -120px;
    left: 0;
    max-width: 250px;
    @media screen and (min-width: 1400px) {
      max-width: 350px;
    }
    @media screen and (min-width: 1800px) {
      max-width: 450px;
    }
    @media screen and (max-width:640px) {
      display: none;
    }
  }

  img.bottom-right {
    position: absolute;
    bottom: 120px;
    right: -230px;
    max-width: 450px;
    @media screen and (min-width: 1400px) {
      max-width: 550px;
    }
    @media screen and (min-width: 1800px) {
      max-width: 650px;
    }
    @media screen and (max-width:768px) {
      max-width: 300px;
      bottom: 60px;
      right: -130px;
    }
    @media screen and (max-width: 375px) {
        display: none;
    }
  }

  .container {
    background-color: $white;
    padding: 20px 200px 200px;
    max-width: 1200px;
    @media screen and (max-width: 1300px) {
        max-width: 90%;
        padding: 20px 100px 100px;
      }
    @media screen and (max-width: 1024px) {
      max-width: 90%;
      padding: 20px 100px 100px;
    }
    @media screen and (max-width:768px) {
      padding: 20px 50px 50px;
    }
    @media screen and (max-width:640px) {
      padding: 20px;
      width: 100%;
      margin: 0;
      max-width: 100%;
    }

    h2 {
      font-family: $chromaletterfill;
      color: black;
      font-size: 80px;
      line-height: 70px;
      text-transform: uppercase;
      text-align: center;
      top: -100px;
      position: absolute;
      width: 42%;
    }

    .slide-nav {
        width: 450px;
        margin: 0 auto;
        height: 32px;
        top:75px;
        position: relative;
        z-index: 123;
        @media screen and (max-width: 500px) {
            width: 375px;
        }
    }
    .menu-left-right:hover {
        cursor: pointer;
    }
    span.menu-left.menu-left-right.flex-prev,
    span.menu-right.menu-left-right.flex-next {
        display: inline-block;
    }
    span.menu-right.menu-left-right.flex-next {
        text-align: right;  
        position: relative;
        float:right;  
    }
    span.menu-right,
    span.menu-left {
        width: 0; 
        height: 0; 
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }
    span.menu-right {
        border-left: 12px solid #EC247B;
    }
    span.menu-left {
        border-right: 12px solid #EC247B;
    }
    img.menu-group-image {
        width:360px;
        margin: 0 auto;
        @media screen and (max-width: 500px) {
            width: 315px;
        }
    }

    .row {
        clear: both;
      .col-md-12 {
        ul.top-nav {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          list-style: none;
          margin-top: 24px;
          padding-left: 0px;

          li {
            margin: 12px;

            a {
              text-transform: uppercase;
              color: $black;
              font: {
                family: $karla;
                size: 25px;
              }
            }
          }
        }

        ul.menu-items-list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 64px;
          @media screen and (max-width:640px) {
            padding-left: 0px;
          }

          li {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            .title-description {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              margin-bottom: 24px;

              p {
                margin-bottom: 0;
                line-height: 20px;
                font-weight: 700;
                font-size: 18px;
                @media screen and (max-width:640px) {
                  font-size: 12px;

                }
              }

              .menu-item-description {
                font-size: 16px;
                @media screen and (max-width:640px) {
                  font-size: 9px;

                }
              }
            }

            .price {
              font-style: italic;
              @media screen and (max-width: 375px) {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

section#when-where {
    padding-bottom: 100px;
    background-size: cover;
    background-position-x: center;
    // background-position-y: -200px;
    background-repeat: no-repeat;
    @media screen and (max-width: 1200px) {
        .container {
            width: 100%;
            // max-width: 900px;
        }
        .col-md-6 {
            min-width: 440px;
            width: 100%;
        }
    }
    @media screen and (max-width: 992px) {
        .col-md-6 {
            margin: 0 auto;
            min-width: 510px;
            margin-bottom: 55px;
        }
    }
    @media screen and (max-width: 600px) {
        .col-md-6 {
            min-width: 100%;
        }
    }
    @media screen and (max-width: 375px) {
        .col-md-6 {
            min-width: 100%;
        }
    }
    .row {
        max-width: 96%;
        margin: 0 auto;
        @media screen and (max-width: 1200px) {
            width: 100%;
            max-width: 100%;
        }
    }
    .col-md-6 {
        padding: 0;
        color: black;
        position: relative;
        top: -100px;
        z-index: 12345;
        h3 {
            font-family: $chromaletterfill;
            color: black;
            font-size: 60px;
            line-height: 50px;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 30px;
            margin-top: 5px;
            text-align: center;
            display: inline-block;
        }
        ul {
            padding: 0 6%;
            min-width: 400px;
            margin-top: 35px;
            @media screen and (max-width: 1200px) {
                padding: 0;
                margin: 0 auto;
                min-width: 380px;
                width: 380px
            }
            @media screen and (max-width: 992px) {
                min-width: 100%;
                width: 100%;
            }
        }
        li {
            color: black;
            font-family: 'PT Sans', sans-serif;
            font-size: 18px;
            margin-bottom: 15px;
            span.days {
                font-weight: 600;
                width: 48%;
                display: inline-block;
            }
            span.times {
                width: 51%;
                display: inline-block;
            }
            @media screen and (max-width: 992px) {
                span.days {
                    width: 56%;
                }
                span.times {
                    width: 43%
                }
            }
            @media screen and (max-width: 500px) {
                font-size: 16px;
                span.days {
                    width: 52%;
                }
                span.times {
                    width: 48%
                }
            }
            @media screen and (max-width: 428px) {
                font-size: 14px;
                span.days {
                    width: 49%;
                }
                span.times {
                    width: 51%
                }
            }
        }
    }
    .when,
    .where {
        // padding: 8%;
        padding: 50px 30px;
        position: relative;
        @media screen and (max-width: 1200px) {
        }
    }
    .where {
        margin-right: 40px;
        background-size: 120%;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 92px;
        @media screen and (max-width: 1200px) {
            margin-right: 20px;
            width: 100%;
            background-position: top;
            
        }
        @media screen and (max-width: 992px) {
            margin-right: 0;
            padding: 60px 30px 95px 30px;
        }
        @media screen and (max-width: 500px) {
            background-size: 130%;
        }
        @media screen and (max-width: 375px) {
            background-size: 144%;
        }
        .where-img {
            width: 100%;
            border: 4px solid black;
        }
        .where-address {
            font-family: 'PT Sans', sans-serif;
            font-weight: 600;
            font-size: 24px;
            p {
                margin-bottom: 0;
            }
            p:last-of-type {
                margin-top: 10px; 
                font-size: 20px;
            }
        }
    }
    .when {
        // margin-left: 40px;
        background-size: 122%;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (max-width: 1200px) {
            margin-left: 20px;
            width: 100%;
            background-position: top;
            
        }
        @media screen and (max-width: 992px) {
            margin-left: 0;
            padding: 60px 30px;
        }
        @media screen and (max-width: 600px) {
            background-size: 115%;
        }
        @media screen and (max-width: 500px) {
            background-size: 120%;
        }
        @media screen and (max-width: 428px) {
            background-size: 144%;
        }
        @media screen and (max-width: 375px) {
            background-size: 160%;
        }
        .wok-up-window {
            position: relative;
            padding-bottom: 85px !important;
            margin-top: 70px;
            @media screen and (max-width: 375px) {
                margin-top: 40px;
            }
        }
    }
    .when-where-wrap {

    }
    header {
        &.when-header,
        &.where-header,
        &.wok-up-header {
            text-align: center;
        }
    }
    .www-icon {
        // position: absolute;
        width: 40px;
        display: inline-block;
        margin-right: 15px;
        // &.where-icon {
        //     left: 95px;
        //     top: 58px;
        //     @media screen and (max-width: 1200px) {
        //         top: 56px;
        //         left: 80px;
        //     }
        //     @media screen and (max-width: 992px) {
        //         top: 67px;
        //         left: 108px;
        //     }
        // }
        // &.when-icon {
        //     left: 115px;
        //     top: 58px;
        //     @media screen and (max-width: 1200px) {
        //         top: 56px;
        //         left: 95px;
        //     }
        //     @media screen and (max-width: 992px) {
        //         top: 67px;
        //         left: 120px;
        //     }
        // }
        // &.wok-up-icon {
        //     left: 55px;
        //     top: 0;
        //     @media screen and (max-width: 1200px) {
        //         left: 42px;
        //     }
        //     @media screen and (max-width: 992px) {
        //         left: 60px;
        //     }
        // }
    }
    
}

section#desserts {
    color: black;
    h2 {
        font-family: $chromaletterfill;
        font-size: 80px;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    h3 {
        font-family: $chromaletterfill;
        font-size: 60px;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 30px;
        margin-top: 5px;
        @media screen and (max-width: 992px) {
            margin-top: 15px;
        }
    }
    .dessert-transition {
        height: 100px;
        width: 100%;
        position: relative;
        top: -98px;
    }
    .top-left-image {
        img {
            width: 100%;
        }
    }
    .bottom-row {
        ul.desserts-menu-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 64px;
            @media screen and (max-width:640px) {
                padding-left: 0px;
            }
  
            li {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;

                .title-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    // margin-bottom: 24px;

                    p {
                        margin-bottom: 0;
                        line-height: 20px;
                        font-weight: 700;
                        font-size: 18px;
                        @media screen and (max-width:640px) {
                            font-size: 12px;
                        }
                    }

                    .dessert-description {
                        font-size: 16px;
                        @media screen and (max-width:640px) {
                            font-size: 9px;
                        }
                    }
                }

                .dessert-price {
                    font-style: italic;
                }
            }
        }
        .bottom-left {
            &.container {
                margin: 120px 0 0 auto;
                @media screen and (max-width: 768px) {
                    max-width: 600px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .bottom-right {
            position: relative;
            top: -40px;
            img {
                display: block;
                margin-left: auto;
            }
        }
    }
    .bottom-dessert-transition {
        margin-top: -125px;
        img {
            max-width: 240px;
        }
    }
    .col-md-6 {
        &.right-justify {
            .container {
                margin: 0;
                @media screen and (max-width: 1300px) {
                    max-width: 500px;
                    margin-left: 30px;
                }
                @media screen and (max-width: 1200px) {
                    margin-left: 0;
                }
                @media screen and (max-width: 768px) {
                    max-width: 600px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .container {
            max-width: 600px;
            
            article {
                line-height: 30px;
                color: black;
                padding-right: 30px;
                font-weight: 400;
            }
            
        }
    }

}